* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

div.top-menu {
  	width:100%;
} 

div.main-banner {
	padding: 0 20px;
	color: #808080;
        display: block; 
	/*max-width: 1080px;*/
	min-height: 130px;
	width: 100%;
	background:url("images/lion_logo.jpg") no-repeat 20% 30%;
	background-color: #808080;
	padding: 0 0 0 300px;
	opacity:0.8;
}

body {
/*
    background-image: url("images/lion_logo.jpg");
    background-repeat: no-repeat;
    background-position: right top;
*/
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}

p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
}

strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
}

a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
}

.bracket_box {
	width:  125px;
        height: 100px;
        padding: 10px;
        border:1px solid #aaaaaa;
}

.bracket_img {
	width:  105px;
        height:  80px;
}

.cat_pic {
	width:  304px;
        height: 228px;
}
